# Análisis exploratorio inicial

In [3]:
import pandas as pd
# Cargamos el dataset
df = pd.read_csv('../data/dataset_original.csv', encoding='ISO-8859-1')
# Mostramos las primeras filas
df.head(4)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [7]:
print("\nDimensiones del dataset:", df.shape)

Dimensiones del dataset: (541909, 8)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [9]:
# Descripción estadística de los datos numéricos
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [17]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [ ]:
# tratamiento duplicados
print("\nNumero de duplicados antes:")
print(df.duplicated().sum())

Numero de duplicados antes:
5268

In [13]:
df.nunique()

InvoiceNo      25900
StockCode       4070
Description     4223
Quantity         722
InvoiceDate    23260
UnitPrice       1630
CustomerID      4372
Country           38
dtype: int64

In [ ]:
from datetime import datetime

# Poner en la docu que no hay que hacer nada 

# tratamiento fechas invalidas por formato
def fecha_valida(fecha, formato="%m/%d/%Y %H:%M"):
    try:
        datetime.strptime(fecha, formato)  # Intentamos convertir la fecha
        return True
    except ValueError:
        return False


fechasValidas= df['InvoiceDate'].apply(fecha_valida)
fechasInvalidas = df[~fechasValidas]

print("\nFechas invalidas:")
print(len(fechasInvalidas))

Fechas invalidas:
0

In [ ]:
# tratamiento fechas invalidas por fecha
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], format="%m/%d/%Y %H:%M")

# pd.to_datetime usa el formato %Y/%m/%d, el output se pude cambiar con strftime
fechaInicio =  pd.to_datetime('2010/12/1 00:01')
fechaFin =  pd.to_datetime('2011/12/9 23:59')

fechasBoolean = (df['InvoiceDate'] < fechaInicio) | (df['InvoiceDate'] > fechaFin)
fechasFueraLimite=df[fechasBoolean]
print("\nFechas fuera de limite:")
print(len(fechasFueraLimite))

Fechas fuera de limite:
0

In [15]:
print("Valores negativos en 'Quantity':", (df['Quantity'] < 0).sum())
print("Valores negativos en 'UnitPrice':", (df['UnitPrice'] < 0).sum())

Valores negativos en 'Quantity': 10624
Valores negativos en 'UnitPrice': 2

In [ ]:
from ydata_profiling import ProfileReport

# Generar reporte para hacer la exploración inicial de los datos
profile = ProfileReport(df, title = "E-Commerce DataSet Profiling Report", explorative = True)
profile.to_file("../reports/data_set_ecommerce.html", False)

Summarize dataset: 100%|██████████| 27/27 [00:12<00:00,  2.18it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:05<00:00,  5.19s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.44s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 72.57it/s]